STELLAR_ACCOUNT=shampaLa
STELLAR_NETWORK=testnet
STELLAR_CONTRACT_ALIAS=mind_bloom
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_CONTRACT_ID=CA65JTALTWIRVFHU5VM3M33EL5INJIPX6W3CDFAORR7EAWR6MUOWPRTN
